<!-- edit colors, fonts, etc here -->
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway);

.container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: <%= size(:w) %>px;
  height: <%= size(:h) %>px;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: #6600ff;
}

.category {
  float: left;
  margin-left: 1%;
}

h1 {
  display: block;
  margin-top: 23%;
}
</style>

<!-- edit layout and param sequence here -->
<div class="container">
  <p class="category"><%= category %></p>
  <h1><%= text %></h1>
</div>
