<style>
@import url(https://fonts.googleapis.com/css?family=Raleway);

.container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: <%= RES[:fb][0] %>px;
  height: <%= RES[:fb][1] %>px;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: #6600ff;
}

.category {
  float: left;
  margin-left: 5px;
}

h1 {
  display: block;
  margin-top: 90px;
}
</style>

<div class="container">
  <p class="category"><%= category %></p>
  <h1><%= text %></h1>
</div>
